.hide_input_file{
	opacity: 0;
   position: absolute;
   z-index: -1;
}

.delete_item{
    cursor: pointer;
}

.form-message{
    color: red; 
    padding-top: 6px; 
    display: block;
}

.my-input{
    margin-bottom: 0;
    padding: .54688rem 0.875rem!important;
}

#list_roles{
   display: none;
}


/* style for dropzone */

#drop-area {
    border: 1px dashed #bbb;
    border-radius: 10px;
    width: 100%;
    font-family: sans-serif;
    margin: 20px auto;
    padding: 30px 0;
    text-align: center;
    transition: 0.2s ease;
    position: relative;
}

#drop-area:hover {
    background-color: #e8f0ff;
    cursor: pointer;
}

#drop-area.highlight {
    border-color: #377dff;
    background-color: #e8f0ff;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.button-input-files {
    display: inline-block;
    color: #fff;
    padding: 10px;
    background: #377dff;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #377dff;
}

.button-input-files:hover {
    background: #1b61e4;
}

#fileElem {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.form-message {
    color: red;
    font-size: 14px;
} 

.btn-delete-card-img:hover {
    cursor: pointer;
}

.btn-delete-card-img:hover i {
    color: #ff0044;
}

.card-display {
    opacity: 0.9;
}

.card-hint {
    filter: brightness(50%)
}

.card-active {
    filter: brightness(90%)
}

/* end custom dropzone */

.no_service{
    margin-top: 0.65rem;
    margin-bottom: 0;
}

@keyframes fade {
    0%{
        opacity: 0;
        transform: scale3d(.75, .75, .75);
    }
    40%{
        opacity: 0.4;
        /* transform: scale3d(.75, .75, 1); */
    }
    100%{
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
.fadeAnimation{
    animation: fade 2s;
}
.dflex{
    display:flex;
}

.my-input-label{
    font-size: 0.95rem!important;
    font-weight: bold;
}

.my-custom-label:before{
    left: -0.2rem!important;
}

.my-custom-label:after{
    left: -0.2rem!important;
}

.text-shorten {
    overflow: hidden;
    max-width: 150px;
    max-height: 50px;
    text-overflow: ellipsis;
}

.modal-large {
    max-width: 80% !important;
}

